@model IEnumerable<PizzaProject.ViewModels.Admin.Slider.SliderVM>

<section class="home-slider owl-carousel img">
    @foreach (var item in Model)
    {
        <div class="slider-item" style="background-image: url(@Url.Content($"~/images/{item.Image}"));">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center" data-scrollax-parent="true">

                    <div class="col-md-6 col-sm-12 @(item.IsButtonRight ? "order-md-last" : "") ftco-animate">
                        <span class="subheading">@item.Subheading</span>
                        <h1 class="mb-4">@item.Title</h1>
                        <p class="mb-4 mb-md-5">@item.Description</p>
                        <p>
                            <a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a>
                            <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a>
                        </p>
                    </div>

                    @* <div class="col-md-6 ftco-animate">
                        <img src="~/image/sliders/@item.Image" class="img-fluid" alt="@item.Title">
                    </div>
 *@
                </div>
            </div>
        </div>
    }
</section>
