@model IEnumerable<PizzaProject.Models.Category>

<section class="ftco-menu">
    <div class="container-fluid">
        <div class="row d-md-flex">
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(images/about.jpg);">
            </div>
            <div class="col-lg-8 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            @foreach (var category in Model)
                            {
                                <a class="nav-link @(category == Model.First() ? "active" : "")"
                                   id="v-pills-@category.Id-tab"
                                   data-toggle="pill"
                                   href="#v-pills-@category.Id"
                                   role="tab"
                                   aria-controls="v-pills-@category.Id"
                                   aria-selected="@(category == Model.First() ? "true" : "false")">
                                    @category.Name
                                </a>
                            }
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            @foreach (var category in Model)
                            {
                                <div class="tab-pane fade @(category == Model.First() ? "show active" : "")"
                                     id="v-pills-@category.Id"
                                     role="tabpanel"
                                     aria-labelledby="v-pills-@category.Id-tab">
                                    <div class="row">
                                        @foreach (var product in category.Products)
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url('@product.ImageUrl');"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@product.Name</a></h3>
                                                        <p>@product.Description</p>
                                                        <p class="price"><span>$@product.Price</span></p>
                                                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
